{{!< layout}}
<div ng-controller="PhoneListController">
<header class="aui-page-header">
  
</header>


        <canvas style="height:150px;width:150px;"
        
        class="chart chart-pie"
        chart-data="data" 
        chart-labels="labels"
        chart-series="series" 
        chart-dataset-override="datasetOverride"
        chart-colors="colors">
        </canvas> 
       
 
</div>
<script src="./js/controllers/webPanel.js"></script>
<script src="./js/factories/panel.object.factory.js"></script>
<script src="./js/factories/panel.poster.factory.js"></script>
<script src="./js/factories/panel.setter.factory.js"></script>
<script src="./css/addon.css"></script>

<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>